.nav-pills li {
    padding-right: 150px;
}
.form-control {
    background-color: rgba(0,0,0,0);
}
input {
    border: 0px !important;
}
input::placeholder {
    color: black!important;
    padding: 10px;
    border: 0px;
 }
input:focus{
        outline: none !important;
        background:#fff!important;
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
    } 
 form button i {
     font-size: 30px;    
 }
.one {
    height: 500px;
}
.two {
    margin-top: 150px;
}
ul li i {
    font-size: 20px;
}